li {
  list-style: decimal;
}

.chatroom-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message-list {
  overflow-y: scroll;
  overflow-wrap: break-word;
  height: 300px;
  width: 400px;
  border: solid gray 1px;
}

.load-button {
  // position: absolute;
  // top: 5px;
  // right: 5px;
}

.message-input {
  width: 396px;
}
.hidden-button {
  display: none;
}

.message-text {
  padding: 3px;
  font-family: helvetica;
}